USE [master]
GO
/****** Object:  Database [DbBankaTest]    Script Date: 11.02.2026 16:59:51 ******/
CREATE DATABASE [DbBankaTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbBankaTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DbBankaTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbBankaTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DbBankaTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbBankaTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbBankaTest]
GO
/****** Object:  Table [dbo].[TBLHAREKET]    Script Date: 11.02.2026 16:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHAREKET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GONDEREN] [varchar](6) NULL,
	[ALICI] [varchar](6) NULL,
	[TUTAR] [decimal](18, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHESAP]    Script Date: 11.02.2026 16:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHESAP](
	[HESAPNO] [varchar](6) NULL,
	[BAKIYE] [decimal](18, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKISILER]    Script Date: 11.02.2026 16:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKISILER](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[SOYAD] [varchar](50) NULL,
	[TC] [char](11) NULL,
	[TELEFON] [varchar](15) NULL,
	[HESAPNO] [varchar](6) NULL,
	[SIFRE] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_YeniKisiKaydet]    Script Date: 11.02.2026 16:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_YeniKisiKaydet]
    @Ad NVARCHAR(30),
    @Soyad NVARCHAR(30),
    @TC CHAR(11),
    @Telefon CHAR(15),
    @HesapNo CHAR(6),
    @Sifre NVARCHAR(10)
AS
BEGIN
    -- Önce Kişiler tablosuna ekle
    INSERT INTO TBLKISILER (AD, SOYAD, TC, TELEFON, HESAPNO, SIFRE) 
    VALUES (@Ad, @Soyad, @TC, @Telefon, @HesapNo, @Sifre)

    -- Hemen ardından bu hesap numarası için Hesap tablosuna 0 bakiye ile satır aç
    INSERT INTO TBLHESAP (HESAPNO, BAKIYE) 
    VALUES (@HesapNo, 0)
END
GO
USE [master]
GO
